@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

#body {
	background: #fafafa;
}

#wrapper {
	margin: 0 auto;
	/*margin-top: 25px;*/
	/*width: 950px;*/
	width: 95%;
	color: #333;
	text-align: justify;
	min-width: 950px;
}

#header { /*background: #7b0100 url(images/header_bg.png) no-repeat;*/
	/*background: url(images/header_bg2.png) repeat-x;*/
	height: 109px;
	background: #f3f3f3;
}

#header_client_logo {
	background: url(images/header_logo.png) no-repeat;
	height: 109px;
	width: 328px;
	margin: 0;
}

#header_system_logo {
	background: url(images/header_system_logo.png) no-repeat;
	height: 109px;
	width: 341px;
	position: relative;
	top: -109px;
	display: block;
	margin: 0 auto; /*centraliza*/
}

#content {
	min-height: 300px;
}

#content_tutorial {
	width: 810px;
	margin: 0 auto;
}

#content h3 { /*font-family: 'Merienda One', cursive;*/
	font-size: 16px;
	padding: 10px;
}

#apresentacao {
	border: 1px solid #f3f3f3;
	padding: 25px;
	background: #ffffff;
	font-size: 14px;
	/*
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #e5e5e5) );
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(           startColorstr='#ffffff',
		endColorstr='#e5e5e5', GradientType=0 );
		*/
}

#escala_conceitos {
	margin-top: 20px;
	font-size: 14px;
	/*
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #e5e5e5) );
	background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(           startColorstr='#ffffff',
		endColorstr='#e5e5e5', GradientType=0 );
	*/
}

#escala_conceitos_home {
	margin-top: 20px;
	border: 1px solid #f3f3f3;
	background: #ffffff;
	font-size: 14px;
}

#escala_conceitos h3,#escala_conceitos_home h3 {
	text-align: center;
	padding-top: 8px;
	/*font-weight: bold;
	font-family: 'Merienda One', cursive;*/
	font-size: 16px;
}

#item_escala {
	border-top: 1px solid #f3f3f3;
	height: 60px;
}

#texto_escala {
	width: 675px;
	margin: 0;
	float: left;
	position: relative;
	top: 20px;
	padding-left: 25px;
}

#texto_escala span {
	font-weight: bold;
}

.star_escala {
	font-weight: bold;
	margin: 0;
	width: 240px;
	/*
 width: 236px;
 border-left: 1px solid #c6c6c6;
 */
	float: right;
}

.star_escala ul {
	list-style: none;
	clear: both;
	padding: 0;
	margin: 0;
	margin-left: 8px;
}

.star_escala ul li {
	display: block;
	float: left;
	/*height: 50px;*/
	height: 40px;
	width: 35px;
	text-align: center;
	padding: 5px;
}

.legenda #texto_legenda {
	padding-top: 4px;
	float: left;
}

.legenda .star_escala {
	width: auto;
}

.legenda #texto_legenda span {
	font-weight: bold;
}

.legenda .legenda_line {
	height: 24px;
}

.legenda .star_escala ul li {
	display: block;
	float: left;
	/*height: 50px;*/
	height: 24px;
	width: 24px;
	text-align: center;
	/*padding: 5px;*/
	margin: 0;
	padding: 0;
}

.star_escala ul li.star-marked1 {
	cursor: pointer;
	background: url(images/star-marked1.png) bottom no-repeat;
}

.star_escala ul li.star-marked2 {
	cursor: pointer;
	background: url(images/star-marked2.png) bottom no-repeat;
}

.star_escala ul li.star-marked3 {
	cursor: pointer;
	background: url(images/star-marked3.png) bottom no-repeat;
}

.star_escala ul li.star-marked4 {
	cursor: pointer;
	background: url(images/star-marked4.png) bottom no-repeat;
}

.star_escala ul li.star-marked5 {
	cursor: pointer;
	background: url(images/star-marked5.png) bottom no-repeat;
}

.star_escala ul li.star-unmarked1 {
	cursor: pointer;
	background: url(images/star-unmarked1.png) bottom no-repeat;
}

.star_escala ul li.star-unmarked2 {
	cursor: pointer;
	background: url(images/star-unmarked2.png) bottom no-repeat;
}

.star_escala ul li.star-unmarked3 {
	cursor: pointer;
	background: url(images/star-unmarked3.png) bottom no-repeat;
}

.star_escala ul li.star-unmarked4 {
	cursor: pointer;
	background: url(images/star-unmarked4.png) bottom no-repeat;
}

.star_escala ul li.star-unmarked5 {
	cursor: pointer;
	background: url(images/star-unmarked5.png) bottom no-repeat;
}

/*estrelas menores*/
.legenda .star_escala ul li.star-marked1 {
	cursor: pointer;
	background: url(images/star-marked1-mini.png) top no-repeat;
}

.legenda .star_escala ul li.star-marked2 {
	cursor: pointer;
	background: url(images/star-marked2-mini.png) top no-repeat;
}

.legenda .star_escala ul li.star-marked3 {
	cursor: pointer;
	background: url(images/star-marked3-mini.png) top no-repeat;
}

.legenda .star_escala ul li.star-marked4 {
	cursor: pointer;
	background: url(images/star-marked4-mini.png) top no-repeat;
}

.legenda .star_escala ul li.star-marked5 {
	cursor: pointer;
	background: url(images/star-marked5-mini.png) top no-repeat;
}

.legenda .star_escala ul li.star-unmarked1 {
	cursor: pointer;
	background: url(images/star-unmarked1-mini.png) top no-repeat;
}

.legenda .star_escala ul li.star-unmarked2 {
	cursor: pointer;
	background: url(images/star-unmarked2-mini.png) top no-repeat;
}

.legenda .star_escala ul li.star-unmarked3 {
	cursor: pointer;
	background: url(images/star-unmarked3-mini.png) top no-repeat;
}

.legenda .star_escala ul li.star-unmarked4 {
	cursor: pointer;
	background: url(images/star-unmarked4-mini.png) top no-repeat;
}

.legenda .star_escala ul li.star-unmarked5 {
	cursor: pointer;
	background: url(images/star-unmarked5-mini.png) top no-repeat;
}

#footer {
	height: 80px;
	margin-bottom: 10px;
	text-align: center;
	color: #999;
	background: #F3F3F3;
	margin-top: -1px;
}

#footer_bar {
	height: 15px;
	background: #960605;
}

#footer p {
	text-align: center;
}

#footer a {
	color: #333;
	text-decoration: none;
}

div.white .550 {
	min-height: 550px;
}

.avaliacoes-group,.white {
	background: #fff;
	border: 1px solid #f3f3f3;
}

.f3f3f3 {
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
}

/* avaliacoes */
#avaliacao_box { /*bordas em todos os cantos
	margin-top: -1px;
	border: 1px solid #c6c6c6;
	*/
	/*bordas somente em baixo*/
	border-bottom: 1px solid #f3f3f3;
	background: #fff;
	/*
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
*/
	/*
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(47%, #f6f6f6), color-stop(100%, #ededed) );
	background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#ededed', GradientType=0 );
		
		*/
	height: 60px;
}

#avaliacao_box:hover { /*background: #eeeeee;*/
	background: #f3f3f3;
	/*background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );*/
}

#avaliacao_current { /*margin-top: -1px;*/
	border: 1px solid #f3f3f3;
	background: #ffffff;
	/*
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(47%, #f6f6f6), color-stop(100%, #ededed) );
	background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(            startColorstr='#ffffff',
		endColorstr='#ededed', GradientType=0 );
		*/
	height: 150px;
}

#avaliacao_box .div1 {
	float: left;
	width: 800px;
}

#avaliacao_box .div700 {
	float: left;
	width: 700px;
}

#avaliacao_current .div1 {
	float: left;
	/*width: 800px;*/
	width: 50%;
}

#avaliacao_current .div2 {
	float: right;
	width: 50%;
}

#avaliacao_current .legenda {
	float: right;
	border: 1px solid #F3F3F3;
	padding: 2px;
	margin: 4px;
}

#avaliacao_current .legenda h4 {
	margin-bottom: 0;
	background: #EEA70F;
	color: white;
	text-align: center;
}

#avaliacao_current .div1 h2 {
	font-style: italic;
	text-align: left;
	/*font-family: 'Merienda One', cursive;*/
	font-size: 18px;
	/*color: #06F; /*azul google*/
	color: #777;
	margin-top: 25px;
	margin-left: 10px;
}

#avaliacao_current .div1 h4 {
	text-align: left;
	/*font-family: 'Merienda One', cursive;*/
	font-size: 16px;
}

#avaliacao_box .div2 {
	float: right;
	width: 145px;
	text-align: center;
}

#avaliacao_box .div2 h4,#avaliacao_box .div1 h4 {
	margin: 0;
	font-size: 12px;
	color: #666;
}

#avaliacao_box .photo {
	width: 48px;
	height: 48px;
	border: 1px solid #f3f3f3;
	margin: 4px;
	margin-right: 8px;
	float: left;
}

#avaliacao_box .photo img {
	width: 48px;
	height: 48px;
}

#avaliacao_current .photo {
	width: 72px;
	height: 72px;
	border: 1px solid #f3f3f3;
	margin: 4px;
	margin-right: 8px;
	float: left;
}

#avaliacao_current .photo img {
	width: 72px;
	height: 72px;
}
/*#avaliacao_current .photo{
	width: 100px;
	height: 119px;
	border: 1px solid #c6c6c6;
	margin: 8px;
	float: left;
}*/
#avaliacao_box .description {
	
}

#avaliacao_box .description h4,#avaliacao_current .description h4 {
	position: relative;
	top: 15px;
	color: #444;
	font-size: 14px;
}

#avaliacao_box .description h4 span,#avaliacao_current .description h4 span
	{ /*font-weight: bold;*/
	width: 150px;
	font-size: 12px;
	font-style: italic;
}

#avaliacao_box span.btn-avaliar {
	float: right;
	position: relative;
	top: 15px;
}

#avaliacao_box img.ok {
	width: 24px;
	height: 24px;
}

label {
	font-weight: normal;
}

label.obs {
	margin-left: 18px;
	margin-top: 25px;
	display: block;
}

textarea.obs {
	width: 95%;
	height: 150px;
	padding: 5px;
	margin-left: 18px;
}

/* botoes */
/* botao default */
span.btn-default {
	display: block;
	background: url(images/btn-avaliar.png) no-repeat;
	width: 133px;
	height: 57px;
	margin: 0 auto;
}

span.btn-default a {
	display: block;
	font-family: 'Merienda One', cursive;
	font-size: 16px;
	color: #555;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 8px;
	padding: 9px;
}

span.btn-default:hover,span.btn-default:focus {
	background: url(images/btn-avaliar_hover.png) no-repeat;
}

span.btn-default a:hover,span.btn-default a:focus {
	/*background: url(images/btn-avaliar_hover.png) no-repeat;*/
	/*color: #900;*/ /*vermelho unicampo*/
	color: #06F; /*azul google*/
	/*color: #0C0;*/ /*verde*/
}
/*--------------------------------------------------------------------------------------------------------*/

/* botao do form -----------------------------------------------------*/
button.btn-default {
	display: block;
	background: url(images/btn-avaliar.png) no-repeat;
	width: 133px;
	height: 57px;
	margin: 0 auto;
	border: 0;
	/*texto do botao*/
	display: block;
	font-family: 'Merienda One', cursive;
	font-size: 16px;
	color: #555;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 8px;
	padding: 9px;
}

button.btn-default:hover,button.btn-default:focus {
	background: url(images/btn-avaliar_hover.png) no-repeat;
}

/*--------------------------------------------------------------------------------------------*/
/* Botão Começar Avaliação ---------------------------------------------------------------------------------*/
span.btn-comecar-avaliacao {
	display: block;
	background: url(images/btn-comecar-avaliacao.png) no-repeat;
	width: 262px;
	height: 59px;
	margin: 0 auto;
}

span.btn-comecar-avaliacao a {
	display: block;
	font-family: 'Merienda One', cursive;
	font-size: 16px;
	color: #555;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 8px;
	padding: 9px;
}

span.btn-comecar-avaliacao:hover,span.btn-comecar-avaliacao:focus {
	background: url(images/btn-comecar-avaliacao_hover.png) no-repeat;
}

span.btn-comecar-avaliacao a:hover,span.btn-comecar-avaliacao a:focus {
	/*background: url(images/btn-avaliar_hover.png) no-repeat;*/
	/*color: #900;*/ /*vermelho unicampo*/
	color: #06F; /*azul google*/
	/*color: #0C0;*/ /*verde*/
}
/*--------------------------------------------------------------------------------------------------------*/
/* Botão Novo  ---------------------------------------------------------------------------------*/
span.btn-novo-grande {
	display: block;
	background: url(images/btn-comecar-avaliacao.png) no-repeat;
	width: 262px;
	height: 59px;
	margin: 0 auto;
}

span.btn-novo-grande a {
	display: block;
	font-family: 'Merienda One', cursive;
	font-size: 16px;
	color: #555;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 8px;
	padding: 9px;
}

span.btn-novo-grande:hover,span.btn-novo-grande:focus {
	background: url(images/btn-comecar-avaliacao_hover.png) no-repeat;
}

span.btn-novo-grande a:hover,span.btn-novo-grande a:focus {
	/*background: url(images/btn-avaliar_hover.png) no-repeat;*/
	/*color: #900;*/ /*vermelho unicampo*/
	color: #06F; /*azul google*/
	/*color: #0C0;*/ /*verde*/
}
/*--------------------------------------------------------------------------------------------------------*/

/* Botão Avaliar -----------------------------------------------------------------------------------------*/
span.btn-avaliar { /*text-align: center;*/
	width: 133px;
	height: 57px;
	margin-right: 10px;
	display: block;
	background: url(images/btn-avaliar.png) no-repeat;
}

span.btn-avaliar a {
	display: block;
	font-family: 'Merienda One', cursive;
	font-size: 16px;
	color: #555;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	position: relative;
	top: 8px;
	padding: 9px;
}

span.btn-avaliar:hover,span.btn-avaliar:focus {
	background: url(images/btn-avaliar_hover.png) no-repeat;
}

span.btn-avaliar a:hover,span.btn-avaliar a:focus {
	/*background: url(images/btn-avaliar_hover.png) no-repeat;*/
	/*color: #900;*/ /*vermelho unicampo*/
	color: #06F; /*azul google*/
	/*color: #0C0;*/ /*verde*/
}

.select_right {
	float: right;
	position: relative;
	top: 20px;
	margin-right: 5px;
}

/*star ratings */
.questao { /*background: #ffffff;*/
	/*
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );*/
	height: 42px;
	border-bottom: 1px solid #f3f3f3;
	padding-top: 6px;
}

.questao:hover {
	background: #f4f4f4;

	/*
	background: rgb(238, 238, 238);
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,
		238, 238, 1) ), color-stop(100%, rgba(204, 204, 204, 1) ) );
	background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% );
	background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% );
	background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% );
	background: linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(      startColorstr='#eeeeee',
		endColorstr='#cccccc', GradientType=0 );
		*/
}

.questao img { /*float: left;*/
	cursor: pointer;
	_float: left;
}

.questao .texto_questao {
	float: left;
	/*width: 750px;*/
	width: 79%;
}

.questao .texto_questao h4 {
	padding-left: 15px;
	padding-top: 5px;
	font-size: 14px;
	color: #555;
	margin: 0;
}

.questao .texto_questao h4:hover {
	color: #333;
}
/*.questao .star_questao{
	float: right;	
}
.questao .star_questao img{
	float: right;	
}
#big{
	float: right;
}*/
#big span { /*text-align: center;	
	width: 45px;
	padding: 0px;
	margin-right: 15px;
	border: 1px solid #333;
	position: relative;
	top: 5px;
	left: 0;
	*/
	
}

#big img { /*float: left;	*/
	
}

/* MSG Status */
#blackout {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 150;
	padding: 150px;
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(69, 72, 77, 0.5) 0%,
		rgba(0, 0, 0, 0.5) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69,
		72, 77, 0.5) ), color-stop(100%, rgba(0, 0, 0, 0.5) ) );
	background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0.5) 0%,
		rgba(0, 0, 0, 0.5) 100% );
	background: -o-linear-gradient(top, rgba(69, 72, 77, 0.5) 0%,
		rgba(0, 0, 0, 0.5) 100% );
	background: -ms-linear-gradient(top, rgba(69, 72, 77, 0.5) 0%,
		rgba(0, 0, 0, 0.5) 100% );
	background: linear-gradient(top, rgba(69, 72, 77, 0.5) 0%,
		rgba(0, 0, 0, 0.5) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(           
		                     
		                     startColorstr='#8045484d', endColorstr='#80000000',
		GradientType=0 );
}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5000;
	/*background-color: black;*/
	background: url(images/overlay.png) repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85 );
	opacity: 0.85;
	display: none;
}

#status,#box {
	width: 500px;
	position: absolute;
	z-index: 6000;
	left: 24%;
	top: 25%;
	padding: 10px;
	/*margin-top: 200px;*/
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iNDclIiBzdG9wLWNvbG9yPSIjZjZmNmY2IiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,
		rgba(246, 246, 246, 0.5) 47%, rgba(237, 237, 237, 0.5) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.5) ), color-stop(47%, rgba(246, 246, 246, 0.5) ),
		color-stop(100%, rgba(237, 237, 237, 0.5) ) );
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,
		rgba(246, 246, 246, 0.5) 47%, rgba(237, 237, 237, 0.5) 100% );
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,
		rgba(246, 246, 246, 0.5) 47%, rgba(237, 237, 237, 0.5) 100% );
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,
		rgba(246, 246, 246, 0.5) 47%, rgba(237, 237, 237, 0.5) 100% );
	background: linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,
		rgba(246, 246, 246, 0.5) 47%, rgba(237, 237, 237, 0.5) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(           
		                     
		                     startColorstr='#80ffffff', endColorstr='#80ededed',
		GradientType=0 );
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#box {
	width: 680px;
}

#status_inside,#box_inside {
	padding: 25px;
	text-align: center;
	background: rgb(255, 255, 255);
	/*
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1) ), color-stop(47%, rgba(246, 246, 246, 1) ),
		color-stop(100%, rgba(237, 237, 237, 1) ) );
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100% );
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100% );
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100% );
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(                
		                     startColorstr='#ffffff', endColorstr='#ededed',
		GradientType=0 );
		*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#status_inside h2,#box_inside h2 {
	font-size: 22px;
	color: #777;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear {
	clear: both;
}

#textarea-question {
	width: 605px;
}

input[type="text"],select {
	width: 200px;
	padding: 4px;
	float: left;
}

#form-questionario label {
	float: left;
}

textarea#texto {
	width: 626px;
	height: 120px;
}

.ui-menu .ui-menu-item {
	text-align: left;
}

/* google buttons style */
input[type="submit"],button {
	/*display: block;*/
	height: 35px;
	padding: 0 10px;
	text-decoration: none;
	text-align: center;
}

button.float-right {
	margin: 0 10px;
}

a.botao_right {
	display: block;
	/*width: 186px;
height: 25px;*/
	height: 25px;
	padding: 0 10px;
	padding-top: 8px;
	text-decoration: none;
	text-align: center;
	float: right;
	/*margin-right: 15px;*/
	margin: 0 5px 0 5px;
}

a.botao_left {
	display: block;
	height: 25px;
	padding: 0 10px;
	padding-top: 8px;
	text-decoration: none;
	text-align: center;
	float: left;
	margin: 0 5px 0 5px;
}

a.botao {
	display: block;
	/*width: 186px;
height: 25px;*/
	height: 25px;
	padding: 0 10px;
	padding-top: 8px;
	text-decoration: none;
	text-align: center;
	float: right;
	/*margin-right: 410px;*/
	margin-right: 45%;
	margin-top: 25px;
}

.move {
	cursor: move
}

a.botaoWhite {
	background: #fff;
	/*color: #cdcdcd;*/
	color: #777;
	border: 1px solid #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-weight: bold;
}

a.botaoGoogleBlue,input[type="submit"].botaoGoogleBlue,button.botaoGoogleBlue,#select.botaoGoogleBlue
	{
	cursor: pointer;
	background-color: #4D90FE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe),
		to(#4787ed) );
	background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
	background-image: linear-gradient(top, #4d90fe, #4787ed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',
		EndColorStr='#4787ed' );
	border: 1px solid #3079ED;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: white;
	font-weight: bold;

	/*display: block;	
width: 186px;
height: 25px;
padding-top: 8px;
text-decoration: none;
text-align: center;*/
}

a.botaoGoogleBlue:hover,a.botaoWhite:hover,input[type="submit"].botaoGoogleBlue:hover,button.botaoGoogleBlue:hover,#select.botaoGoogleBlue:hover
	{
	border: 1px solid #2f5bb7;
	background-color: #4D90FE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe),
		to(#357ae8) );
	background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
	background-image: linear-gradient(top, #4d90fe, #357ae8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',
		EndColorStr='#357ae8' );
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	color: #fff;
}

a.botaoGoogleRed,button.botaoGoogleRed {
	cursor: pointer;
	background-color: #D14836;
	background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
	background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
	background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
	background-image: -o-linear-gradient(top, #dd4b39, #d14836);
	background-image: linear-gradient(top, #dd4b39, #d14836);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',
		EndColorStr='#d14836' );
	border: 1px solid transparent;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: white;
	font-weight: bold;

	/*display: block;	
width: 186px;
height: 25px;
padding-top: 8px;
text-decoration: none;
text-align: center;*/
}

a.botaoGoogleRed:hover,button.botaoGoogleRed:hover {
	border: 1px solid #b0281a;
	background-color: #c53727;
	background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
	background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
	background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
	background-image: -o-linear-gradient(top, #dd4b39, #c53727);
	background-image: linear-gradient(top, #dd4b39, #c53727);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',
		EndColorStr='#c53727' );
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

a.botaoGoogleGrey,input[type="submit"].botaoGoogleGrey,input[type="reset"].botaoGoogleGrey,#select.botaoGoogleGrey,.selectFiltro.botaoGoogleGrey,button.botaoGoogleGrey
	{
	cursor: pointer;
	background-color: transparent;
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5),
		to(#f1f1f1) );
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: #444;
	font-weight: bold;

	/*display: block;	
width: 186px;
height: 25px;
padding-top: 8px;
text-decoration: none;
text-align: center;
*/
}

a.botaoGoogleGrey:hover,input[type="submit"].botaoGoogleGrey:hover,input[type="reset"].botaoGoogleGrey:hover,#select.botaoGoogleGrey:hover,.selectFiltro.botaoGoogleGrey:hover,button.botaoGoogleGrey:hover
	{
	border: 1px solid #c6c6c6;
	color: #333;
	background-color: transparent;
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8),
		to(#f1f1f1) );
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

/* checkboxes google style */
input[type="checkbox"] { /*-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
background-color: rgba(255, 255, 255, .05);
border: 1px solid #C6C6C6;
border: 1px solid rgba(155, 155, 155, .57);
font-size: 1px;
height: 25px;
outline: 0;
width: 25px;*/
	margin: 0 4px 0 1px;
	vertical-align: text-bottom;
}

span.span_opcional {
	margin-left: 20px;
	font-size: 14px;
	color: #4D90FE;
}

a.btn_avaliacao {
	margin-top: 12px;
	margin-right: 25px
}

a.link2 {
	font-size: 12px;
	text-decoration: none;
	color: #333;
}

a.link2:hover {
	text-decoration: underline;
	color: #4D90FE;
}

/*--------------------- TABLE --------------------------------*/
#content tbody tr:nth-child(even) td,#content tbody tr.even td {
	background-color: transparent;
	height: 33px;
}

#content tbody tr:nth-child(odd) td,#content tbody tr.odd td {
	background-color: transparent;
	height: 33px;
}

#content tbody tr th,#content thead tr th {
	background: #fff;
}

#content tbody tr:hover {
	background: #f3f3f3;
}

#content table td,table th {
	border-bottom: 1px solid #f3f3f3;
}

thead th {
	background-image: #fff;
}

/*------------------TABLE ACCORDION ------------------------------*/
#accordion table {
	background: #fff;
}

#accordion table tbody tr th {
	background: #666;
	color: white;
}

/*--------------------- SELECT -------------------------------*/
#select {
	position: relative;
	float: right;
	top: 20px;
	margin-top: -10px;
	width: 350px;
}

.selectFiltro {
	position: relative;
	float: left;
	margin-left: 20px;
	/*top: 20px;*/
	width: auto;
}

#select select,.selectFiltro select { /*background-color: transparent;*/
	background: #f5f5f5;
	position: relative;
	border: 0;
	/*top: 20px;*/
	/*opacity: 0; 
	filter:alpha(opacity=0);*/
	color: #333;
	width: 100%;
}

#select select:hover,.selectFiltro select:hover {
	background: #f8f8f8;
}

/*------------------- MENU ------------------------------------*/
#menu {
	border: 1px solid #F3F3F3;
	border-left: #960605;
	border-top: 1px solid white;
	border-bottom: 0;
	position: relative;
	padding-bottom: 5px;
	padding-top: 3px;
	height: 35px;
	background: white;
}

#menu ul {
	padding: 0px;
	margin-top: 10px;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	padding: 14px 6px;
	text-decoration: none;
	color: #777;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	font-weight: bold;
	background: transparent;
	margin: 0;
}

#menu ul li a.active {
	color: #960605;
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
	border-bottom: 1px solid white;
}

#menu ul li a:hover {
	color: #960605;
	font-weight: bold;
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
}

/*#menu ul li a.home_link {
	color: white;
	padding-left: 25px;
	border: 1px solid #960605;
	background: #960605 url(images/home.png) 5px 11px no-repeat;
}
*/
#menu ul li a.home_link {
	border-left: 1px solid #f3f3f3;
}

#info_user {
	position: absolute;
	height: 35px;
	top: 2px;
	right: 0;
	margin-right: 5px;
	z-index: 50;
	/*text-align: right;*/
}

#info_user span {
	position: relative;
	top: -14px;
	color: #666;
}

/*
#info_user a span.arrow {
	background: url(images/span_arrow.png) no-repeat;
	width: 8px;
	height: 8px;
	float: right;
	top: -32px;
	margin: 4px;
	opacity: .5;
}*/
#info_user a span.arrow {
	background: url(images/span_arrow.png) no-repeat;
	width: 8px;
	height: 36px;
	float: right;
	top: -44px;
	margin: 4px;
	opacity: .5;
}

#info_user a:hover span.arrow {
	opacity: 1;
}

#info_user img {
	width: 36px;
	height: 36px;
	border: 1px solid #F3F3F3;
}

#info_user .photo96 {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#info_user .photo96 img {
	width: 96px;
	height: 96px;
	border: 1px solid #F3F3F3;
}

#info_usuario_box { /*border: 1px solid #F3F3F3;*/
	border: 1px solid #BEBEBE;
	padding: 10px;
	margin-top: 10px;
	width: auto;
	_width: 320px;
	*width: 320px;
	background: white;
	position: absolute;
	right: 0;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
}

#info_usuario_box span {
	font-size: 12px;
	top: 0;
}

#info_usuario_box .arrow_up {
	background: url(images/span_arrow_up.png) no-repeat;
	top: -25px;
	float: right;
	width: 30px;
	height: 15px;
	margin-right: 10px;
}

#info_user a.link_comum,#info_user a.link_comum_no-underline {
	text-align: left;
	text-decoration: none;
}

#info_user a.link_comum:hover {
	text-decoration: underline;
}

/*----------------- MENU GLOBAL ---------------------------------*/
#menu_usuario {
	height: 28px;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	background: #EEE;
	background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,
		238, 238, 1) ), color-stop(100%, rgba(204, 204, 204, 1) ) );
	background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% );
	background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% );
	background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(      
		                     
		                     startColorstr='#eeeeee', endColorstr='#cccccc',
		GradientType=0 );
	background: linear-gradient(top, rgba(238, 238, 238, 1) 0%,
		rgba(204, 204, 204, 1) 100% );
	border: 1px solid #AEAEAE;
}

#menu_usuario ul {
	list-style: none;
	padding-right: 25px;
	padding-top: 2px;
}

#menu_usuario ul li {
	float: left;
	padding: 0 8px;
	border-left: 1px solid #CCC;
}

#menu_usuario ul li a {
	color: #8A0F0F;
	text-decoration: none;
	font-size: 14px;
}

#menu_usuario ul li a:hover {
	text-decoration: underline;
}

#menu_usuario ul li#username {
	float: right;
}

/*--------------------------- LOGIN ----------------------------------*/
#content_login {
	margin: 0 auto;
	margin-bottom: 100px;
	width: 350px;
	margin-top: 120px;
}

#content_login img {
	position: relative;
	left: 55px;
	margin-bottom: 10px;
}

#form_login {
	margin: 0 auto;
	width: 340px;
	padding: 20px;
	background: white;
	border: 1px solid #E5E5E5;
	-moz-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	-khtml-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
}

#content_login #form_login input[type="text"],#content_login #form_login input[type="password"],#content_login #form_login select
	{
	font-size: 22px;
	color: #333;
	width: 97%;
	padding: 3px;
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 16px;
	border: 1px solid #E5E5E5;
	background: #FBFBFB;
	outline: none;
	-moz-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	-webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
}

#content_login #form_login input[type="submit"],#content_login #form_login input[type="reset"]
	{
	width: 95px;
	height: 30px;
	border: 1px solid #D4D4D4;
	color: #333;
	-moz-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	-webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	display: inline;
}

a#recupera_senha {
	display: block;
	padding: 20px;
	width: 340px;
	color: #900;
	text-decoration: none;
	text-align: center;
}

a#recupera_senha:hover {
	color: #C00;
	text-decoration: underline;
}

.button_bar {
	width: 200px;
	margin: 0 auto;
}

/*-------------------- MSGs -------------------------------------------*/
#msg,#msg_error {
	margin: 0 auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 380px;
	margin-bottom: 10px;
	color: #333;
	font-family: sans-serif;
	font-size: 12px;
	padding-top: 15px;
}

#msg {
	background: #fffedf;
	border: 1px solid #d8dc99;
}

#msg_error {
	background: #ffece8;
	border: 1px solid #C00;
}

#msg h3,#msg_error h3 {
	padding: 20px;
	font-weight: normal;
	font-size: 14px;
	text-align: left;
}

#msg h3 span,#msg_error h3 span {
	font-weight: bold;
}

/*----------------------------- TABS PANEL -----------------------------------*/
.ui-tabs-panel label {
	position: relative;
	top: 30px;
}

/*------------------------------- UI TIMEPICKER --------------------------------*/
/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

/*------------------------------- UI Widgets -----------------------------------*/
.ui-widget-header {
	border: 1px solid #AAA;
	color: #222;
	font-weight: bold;
}

#accordion .ui-widget-content {
	border: 1px solid #aaa;
	background: #F3F3F3;
	color: #222;
}

#accordion .ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active
	{
	border: 1px solid #aaa;
	border-bottom: 1px solid transparent;
	background: #F4F4F4;
	font-weight: normal;
	color: #504E4E;
}

/*--------------------------------- POPUP no botao de avaliacao ----------------*/
.popupAvaliar {
	display: none;
	width: 150px;
	background: #CDCDCD;
	position: absolute;
	right: 150px;
	height: 80px;
}

/*-------------------------------- RADIO BOX -----------------------------------*/
jquery-checkbox {
	display: inline;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	cursor: hand;
}

.jquery-checkbox .mark {
	display: inline;
}

.jquery-checkbox img {
	vertical-align: middle;
	width: 53px;
	height: 33px;
}
/*.jquery-checkbox img{background: transparent url(images/checkbox.png) no-repeat;}*/
.jquery-checkbox img {
	background-position: 0px 0px;
}

.jquery-checkbox-hover img {
	background-position: 0px -33px;
}

.jquery-checkbox-checked img {
	background-position: 0px -66px;
}

.jquery-checkbox-checked .jquery-checkbox-hover img {
	background-position: 0px -99px;
}

.jquery-checkbox-disabled img {
	background-position: 0px -132px;
}

.jquery-checkbox-checked .jquery-checkbox-disabled img {
	background-position: 0px -165px;
}

/*------ paginação ------*/
#paginacao {
	margin-bottom: 15px;
	text-align: center;
}

#paginacao a:hover {
	background: #F4F4F4;
}

#paginacao a {
	text-decoration: none;
}

#paginacao a,#paginacao span {
	margin: 0;
	padding: 5px;
}

/* ------- Themes ------*/
#themes {
	height: 250px;
	overflow-y: scroll;
}

.theme_preview {
	margin: 15px;
	border: 1px solid #F3F3F3;
	padding: 15px;
	float: left;
}

.theme_preview:hover {
	background: url(images/header_bg2.png);
}

.theme_preview .theme_info {
	margin-top: 10px;
}

.theme_preview .theme_info h4 {
	float: left;
	font-size: 16px;
	font-style: italic;
}

/* comentarios */
#comentarios {
	padding: 15px;
}

#comentarios .comentario {
	border: 1px solid #f3f3f3;
	padding: 15px;
	margin-bottom: 5px;
}

#comentarios .comentario:hover {
	background: #f3f3f3;
}

#comentarios .comentario span {
	font-style: italic;
}

.relatorio_box {
	width: 250px;
	float: left;
}

/*----------------------------------------------------------*/
.box_op label{
	display: block;
	padding: 4px;
	color: #06C;
}

.control {
	background: #fafafa;
	padding: 5px;
}
.dashinfo{ 
	padding: 5px;
	color: #333;
	background: #fafafa;
	border-top: 2px solid #f3f3f3;
	margin-top: 35px;
}
.dashinfo h3 span{
	font-weight: bold;
}